@model Ticket

@{
    ViewBag.Title = "Product | Detail";
    Dictionary<string, int> cart = ViewBag.Cart;
}

<form class="form"
      method="post"
      action="/Product/UpdateCart">

    @{
        var max = 10;
        var quantity = 0;
        if (cart.ContainsKey(Model.TicketID))
        {
            quantity = cart[Model.TicketID];

        }

        if(Model.Stock < max)
        {
            max = Model.Stock;
        }
        var list = new SelectList(Enumerable.Range(1, max), quantity);
    }

    <label>Type</label>
    <span>@Model.Type</span>
    <br>

    <label>Price</label>
    <span>@Model.UnitPrice</span>
    <br>

    @Html.DropDownList("Quantity", list, "")
    @Html.Hidden("TicketID", Model.TicketID)
    @{
        if (cart.ContainsKey(Model.TicketID))
        {

            <span>✅</span>
        }
    }

</form>

<p>
    <button data-get="/Product/Index">Back</button>
</p>

@section foot {
    <script>
        
        $(document).on('change','select',e=>{
            $(e.target.form).submit();
        });
    </script>
}