@model ResetPasswordVM
@{
    ViewData["Title"] = "Account | Reset Password";
}
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <div>
        
        <label>New Password</label>
        <input type="password" asp-for="NewPassword" autofocus placeholder="Enter new password"/>
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label>Confirm Password</label>
        <input type="password" asp-for="ConfirmPassword" placeholder="Confirm new password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit">Reset</button>

</form>
