@{
    ViewBag.Title = "User Administration";
}

<h1>Choose Your Control Options</h1>

<div>
    <button onclick="location.href='@Url.Action("MTable", "UserAdministration")'">
        View Members
    </button>

    <button onclick="location.href='@Url.Action("ATable", "UserAdministration")'">
        View Admins
    </button>
</div>
