@model MembersVM

@{
    ViewBag.Title = "Member Insert";
}


<form method="post" class="form" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus placeholder="Enter email: (xxx@gmailcom)">
    <span asp-validation-for="Email"></span>

    <input asp-for="UserId" type="hidden">

    <label asp-for="Password"></label>
    <input asp-for="Password" type="password" placeholder="Enter Password">
    <span asp-validation-for="Password"></span>

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password">
    <span asp-validation-for="ConfirmPassword"></span>

    <label asp-for="Name"></label>
    <input asp-for="Name" data-trim placeholder="Enter Name">
    <span asp-validation-for="Name"></span>

    <label asp-for="ProfilePhoto"></label>
    <label class="upload">
        <small>Select Photo...</small>
        <input asp-for="ProfilePhoto" accept="image/jpeg,image/png" hidden>
        <img src="/images/photo.jpg">
    </label>
    <span asp-validation-for="ProfilePhoto"></span>

    <section>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </section>

</form>




