@{
    ViewBag.Title = "User Administration";
}

<h1>Choose Your Control Options</h1>

<div>
    <a href="@Url.Action("MTable", "UserAdministration")">
        View Members
    </a>

    <a href="@Url.Action("ATable", "UserAdministration")">
        View Admins
    </a>
</div>
