@model UpdateProfileVM
@{
    ViewBag.Title = "User Update";
}
<form method="post" class="form">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="Email"></label>
    <b>@Model?.Email</b>
    <input asp-for="Email" type="hidden">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="UserId"></label>
    <b>@Model?.UserId</b>
    <input asp-for="UserId" type="hidden">
    <label asp-for="Name"></label>
    <input asp-for="Name" data-upper data-trim>
    <span asp-validation-for="Name"></span>
    <label asp-for="Photo">Profile Picture</label>
</form>

<section>
    <button>Submit</button>
    <button type="reset">Reset</button>
</section>



