@model TicketVM
@{
    ViewBag.Title = "Ticket  Update";
}
<form method="post" class="form">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="TicketID"></label>
    <b>@Model?.TicketID</b>
    <input asp-for="TicketID" type="hidden">
    <br><br>
    <label asp-for="Type"></label>
    <input asp-for="Type" data-upper data-trim>
    <span asp-validation-for="Type"></span>
    <label asp-for="UnitPrice"></label>
    <input asp-for="UnitPrice" type="number" step="0.01" min="0" max="9999.99">
    <span asp-validation-for="UnitPrice"></span>
    <label asp-for="Stock"></label>
    <input asp-for="Stock" type="number" min="0">
    <span asp-validation-for="Stock"></span>
    <label asp-for="DepartureTime"></label>
    <input asp-for="DepartureTime" type="datetime-local">
    <span asp-validation-for="DepartureTime"></span>
    <label asp-for="Source"></label>
    <input asp-for="Source" data-trim>
    <span asp-validation-for="Source"></span>
    <label asp-for="Destination"></label>
    <input asp-for="Destination" data-trim>
    <span asp-validation-for="Destination"></span>
    <section>
        <button type="submit">Update</button>
        <button type="reset">Reset</button>
        <a href="@Url.Action("Ticket")" class="button">Cancel</a>
    </section>
</form>