@model EmailVM

@{
    ViewBag.Title = "FAQ";
}

@section head {
    <style>
        textarea {
            width: 400px;
            height: 200px;
            resize: none;
        }
    </style>
}

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email">Select Email</label>
    <select asp-for="Email" asp-items="ViewBag.EmailList" class="form-control">
        <option value="">-- Select an email --</option>
    </select>
    <span asp-validation-for="Email"></span>

    <label asp-for="Subject"></label>
    <input asp-for="Subject">
    <span asp-validation-for="Subject"></span>

    <label asp-for="Body"></label>
    <textarea asp-for="Body"></textarea>
    <span asp-validation-for="Body"></span>

    <br>

    <section>
        <button>Send</button>
        <button type="reset">Reset</button>
    </section>
</form>