@model EmailVM

@{
    ViewBag.Title = "Home | Email";
}

@section head {
    <style>
        textarea {
            width: 400px;
            height: 200px;
            resize: none;
        }
    </style>
}

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <label asp-for="Subject"></label>
    <input asp-for="Subject">
    <span asp-validation-for="Subject"></span>

    <label asp-for="Body"></label>
    <textarea asp-for="Body"></textarea>
    <span asp-validation-for="Body"></span>

    <br>
    <label>
        <input asp-for="IsBodyHtml">
        Format Body as HTML
    </label>
    <br>

    <section>
        <button>Send</button>
        <button type="reset">Reset</button>
    </section>
</form>
