@{
    ViewBag.Title = "Home";
}
@model IEnumerable<Ticket>

@{var availableTickets = Model.Where(t => t.Sales != 0 && t.Status == true);}

<p>Selling Fast</p>

@if (availableTickets.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Avaialble Seat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in availableTickets)
            {
                    <tr>
                        <td><a href="/Product/ProductDetail/@t.TicketID">@t.Type</a></td>
                        <td>
                            <span class="badge badge-danger">@(t.Stock != 0 ? t.Stock : "Sold Out")</span>
                        </td>
                    </tr>
                
            }
        </tbody>
    </table>
}
else
{
    <p>No tickets available at the moment.</p>
}